/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* what ever we are write in body it inherited to all the child tags as their attributes */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
  padding: 30px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative; }

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px; }

.logo {
  height: 35px; }

.logo:hover {
  animation: logoRotate 2s ease-out; }

.header > .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  backface-visibility: hidden; }

.main-text {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.sub-text {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveFromRight 2s ease-out;
  margin-bottom: 30px; }

/* Animation */
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 100;
    transform: translateX(0px); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 100;
    transform: translateX(0px); } }

@keyframes logoRotate {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 100;
    transform: translateY(0px); } }

.btn:link,
.btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 100px; }

.btn:hover {
  box-shadow: 15px 20px 20px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
  transition: all .2s;
  transition: ease-out .2s; }

.btn:active {
  box-shadow: 3px 5px 7px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px); }

.btn-white {
  background-color: #fff;
  color: #777777; }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: #fff;
  color: #777777; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveFromBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }
